* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    background-color: bisque;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vmin;
}

#buttons {
    height: 8vmin;
    gap: 2vmin;
}

.playground {
    width: 45vmin;
    height: 45vmin;
    background-color: white;
}

button {
    padding: 1.5vmin;
    width: 10vmin;
    font-size: 15px;
    background-color: white;
    color: black;
    border: none;
    margin-right: 10px;
}

input {
    padding: 0.5vmin;
    margin-bottom: 1vmin;
}

#red-box {
    width: 0.5vmin;
    height: 0.5vmin;
    border: none;
    display: block;
    position: absolute;
}

.reaction-table {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 2vmin;
}

p {
    font-size: 20px;
}